body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    display: block;
    place-items: center;
}

input{
    margin-top: 10px;
    margin-right: 10px;
}

button{
    margin-top: 20px
}